<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ZippyShare Downloader</title>
    <meta name="title" content="ZippyShare Downloader"/>
    <meta name="description" content="Download zippyshare files directly in bulk"/>
    <meta name="keywords" content="youtube,playlist,opensource,youtube-len,youtube-playlist-length,length-calculater"/>
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="language" content="English"/>
    <meta name="revisit-after" content="20 days"/>
    <meta name="author" content="Sarvesh Kumar Dwivedi"/>
    <meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg"/>
    <link rel="shortcut icon" type="image/x-icon" href=" https://cdn-icons-png.flaticon.com/512/3039/3039520.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    

    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
  
    <nav
      class="w-full hover:text-gray-700 focus:text-gray-700 shadow-lg justify-between p-2"
    >
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <img src=" https://cdn-icons-png.flaticon.com/512/3039/3039520.png" class="h-10" alt="Logo">
        <h4 class="font-bold">ZippyShare Downloader</h4>

      <a class="nav-link" href="https://github.com/sarvesh4396/zippyshare-downloader" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30 fill="currentColor" class="bi bi-github" viewBox="0 0 30 30">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
    </a>
    </div>
    </nav>
  <form class="mt-10 pr-40 pl-40" method="post">
        <div class="mb-2 py-2 border-b border-teal-500">
            <textarea rows="10"
             class="m-2 tracking-wide shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full" id="urls" type="text" placeholder="Enter Urls Line by Line" name="urls">
            </textarea>
          
          <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-purple-500 hover:bg-purple-400 border-0 py-2 px-4 focus:outline-none rounded text-lg font-bold">Download</button>
          </div>
        </div>
        
      </form>
      
      <div class="pr-40 pl-40 mt-4">
       {{final_text}}
      </div>

      <div class="pr-40 pl-40 mt-4">
        {{links}}
      </div>
    <footer class="center m-10 fixed-bottom">
      <h4 class="text-center">
        Made with ❤️ & ☕ by
        <a
          class="text-indigo-600 underline"
          href="https://twitter.com/sarvesh4396/"
        >
          Sarvesh Kumar Dwivedi
        </a>
      </h4>
    </footer>
  </body>
</html>